[Unit]
Description=Set XDG_PRINTERS_DIR and XDG_PRINTERS_DIR_SD and start path-unit for cups-fuse for user %t %U
After=default.target
Conflicts=shutdown.target
#ConditionCapability=CAP_SYS_ADMIN

[Service]
#ExecStartPre=/bin/sh -c '/usr/bin/test %U -ge 900'
ExecStartPre=-/usr/bin/xdg-user-dirs-update
ExecStartPre=/bin/sh -c '/bin/systemctl --user set-environment XDG_PRINTERS_DIR=$(xdg-user-dir PRINTERS)'
ExecStartPre=/bin/sh -c '/bin/systemctl --user set-environment XDG_PRINTERS_DIR_SD=$(/bin/systemd-escape -p ${XDG_PRINTERS_DIR})'
ExecStart=/bin/systemctl --user start cups-fuse@${XDG_PRINTERS_DIR_SD}.path

[Install]
WantedBy=default.target
